<div class="card">

    <div class="card-header">
        Project #{{ project.num }} - Due on {{ project.due_date }}
    </div>

    <div class="card-body card-padding">

        <p>Project title: {{ project.title }}</p>
        <p>
            Directions:
            <a href="{{ project.directions }}" target="project">Project #{{ project.num }} </a>
        </p>
        <p>My Domain {{ student.domain }}</p>
        <p>Page to publish URL: {{ project.page }}</p>

        <p>
            <a href="{{ student.domain }}/{{ project.page }}" target="project">Visit My Page</a>
        </p>
        <p>
            <a href="{{ project.test_link }}" target="test">Test My Page</a>
        </p>

    </div>

</div>
