<h3>Projects for {{ student.name }}</h3>

<table class="table table-hover">
    <th>Project</th>
    <th>Title</th>
    <th>Instructions</th>
    <th>Student Page</th>
    <th>Due Date</th>

    {% for p in projects %}
        <tr>
            <td>
                {{ p.num }}
            </td>
            <td>
                {{ p.title }}
            </td>
            <td>
                <a href="{{ p.directions }}" target="project">{{ p.directions }}</a>
            </td>
            <td>
                <a href="{{ student.domain }}/{{ p.page }}"
                   target="project">{{ p.page }}</a>
            </td>
            <td>
                {{ p.due_date }}
            </td>
        </tr>
    {% endfor %}
</table>