<div class="panel-group" id="review-accordion">

    {% for t in reviews %}

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#review-accordion" href="#review{{ t.0 }}">
                        {{ t.1 }}
                    </a>
                </h3>
            </div>

            <div id="review{{ t.0 }}" class="panel-collapse collapse">
                <div class="card">
                    <div class="card-header">
                        {{ t.1 }}
                    </div>
                    <div class="card-body card-padding">
                        {{ t.2 }}
                    </div>
                </div>

            </div>
        </div>

    {% endfor %}

</div>


{#<ul class="nav nav-tabs" role="tablist" id="review-tab">#}
{#    {% for t in reviews %}#}
{##}
{#        <li class="nav-item">#}
{#            <a class="nav-link {{ t.3 }}" href="#review-{{ t.0 }}">#}
{#                {{ t.1 }}#}
{#            </a>#}
{#        </li>#}
{##}
{#    {% endfor %}#}
{#</ul>#}
{##}
{##}
{#<div class="tab-content" id="review-tabContent">#}
{##}
{#    {% for t in reviews %}#}
{##}
{#        <div class="tab-pane {{ t.3 }}" id="review-{{ t.0 }}" role="tabpanel" data-toggle="tab">#}
{##}
{#            <h2>{{ t.1 }}</h2>#}
{##}
{#            {% autoescape off %}#}
{#                {{ t.2 }}#}
{#            {% endautoescape %}#}
{##}
{#        </div>#}
{##}
{#    {% endfor %}#}
{##}
{#</div>#}
{##}



