<div class="card">

    <div class="card-header">
        Design Reviews
    </div>

    <div class="card-body card-padding">
        <div>
            <p>
                Web designers are responsible for their own work but also for giving
                accurate, timely, and helpful feedback.
            </p>
            <p>
                Check out the pages for other students to improve your own design skills.
            </p>
            <a href="/unc/{{ student.course.name }}/students">View Student Pages</a>
        </div>
    </div>

</div>