{% if reviews %}

    {{ description }}

    <table class="table table-hover">
        <th>Review ID</th>
        <th>Due</th>
        <th>Page</th>
        <th>Reviewer</th>
        <th>Designer</th>
        <th>Score</th>
        <th>Review</th>
        <th>Date</th>

        {% for r in reviews %}

            <tr>
                <td>Review #{{ r.pk }}</td>
                <td>{{ r.due }}</td>
                <td>{{ r.page }}</td>
                <td>{{ r.reviewer.name }}</td>
                <td>{{ r.designer.name }}</td>

                <td>{% if score %}{{ r.score }}{% endif %}</td>
                <td>
                    {% if edit %}<a href="/unc/review/{{ r.pk }}">Perform Review</a>{% endif %}
                    {% if show %}<a href="/unc/feedback/{{ r.pk }}">Show Review</a>{% endif %}</td>
                <td>{{ r.date }}</td>
            </tr>

        {% endfor %}

    </table>

{% endif %}
