<h3>Skills for {{ student.name }}</h3>

{% if skills %}
    <p>
        {{ student.name }} Domain: <a href="{{ student.domain }}">{{ student.domain }}</a>
    </p>

    {% for s in skills %}
        <div class="card">
            <div class="card-header">
                <a href="/unc/{{ student.course.name }}/skills/{{ s.num }}">Skill #{{ s.skill.num }}
                    - {{ s.skill.topic }}</a> - Due on {{ s.skill.due |date:"D, M d" }}
            </div>

            <div class="card-body card-padding">
                {% for i in s.images %}
                    <div class="card w20">
                        <p>
                            <a href="{{ student.domain }}/{{ student.course.name }}/skills/{{ i }}" target="_blank">
                                <img src="{{ student.domain }}/{{ student.course.name }}/skills/{{ i }}" width="150px">
                                <p>{{ i }}</p>
                            </a>
                        </p>
                    </div>
                {% endfor %}

            </div>
        </div>

    {% endfor %}

{% endif %}


