{% extends "mybook_theme.html" %}


{% block css %}
    <link rel="stylesheet" href="/static/css/unc.css?time={{ time }}">
{% endblock %}


{% block header %}

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h1>{{ header.title }}</h1>
                    <h2><a href="/unc/{{ course }}">{{ header.subtitle }}</a></h2>
                </div>
                <div class="logo col-sm-4">
                    <div class="pull-right">
                        <img class="img-rounded img-responsive" src="{{ header.logo }}"
                             alt="{{ header.logo_text }}" width="150px">
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

