{% extends "unc_theme.html" %}


{% block content %}


    <div class="page2">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="tab-0" href="#nav-0" aria-controls="nav-0" aria-selected="true"
                   role="tab" data-toggle="tab">
                    Course Contents
                </a>
                <a class="nav-item nav-link active" id="tab-1" href="#nav-1" aria-controls="nav-1" aria-selected="true"
                   role="tab" data-toggle="tab">
                    Student Assignments
                </a>
                <a class="nav-item nav-link" id="tab-2" href="#nav-2" aria-controls="nav-2" aria-selected="false"
                   role="tab"
                   data-toggle="tab">
                    Lessons
                </a>


            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show" id="nav-0" aria-labelledby="tab-0" role="tabpanel">
                <h2>Course Content Index</h2>
                {{ overview }}
            </div>
            <div class="tab-pane fade show active" id="nav-1" aria-labelledby="tab-1" role="tabpanel">
                <h2>Student Projects</h2>

                {{ student_info }}

                <div class="accordion" id="my-accordion">


                    <div class="card">

                        <div class="card-header collapse-header" id="heading-reviews">

                            <button class="btn btn-selector" type="button" data-toggle="collapse"
                                    data-target="#pane-reviews"
                                    aria-expanded="true" aria-controls="pane-reviews">
                                <b>Reviews</b>

                            </button>

                        </div>
                        <div id="pane-reviews" class="collapse"
                             aria-labelledby="heading-reviews"
                             data-parent="#my-accordion">

                            <div class="card-body">

                                {{ reviews }}

                            </div>

                        </div>

                    </div>

                    <div class="card">

                        <div class="card-header collapse-header" id="heading-skills">

                            <button class="btn btn-selector" type="button" data-toggle="collapse"
                                    data-target="#pane-skills"
                                    aria-expanded="true" aria-controls="pane-skills">
                                <b>Skills</b>

                            </button>

                        </div>
                        <div id="pane-skills" class="collapse"
                             aria-labelledby="heading-skills"
                             data-parent="#my-accordion">

                            <div class="card-body">

                                {{ skills }}

                            </div>

                        </div>

                    </div>

                    <div class="card">

                        <div class="card-header collapse-header" id="heading-projects">

                            <button class="btn btn-selector" type="button" data-toggle="collapse"
                                    data-target="#pane-projects"
                                    aria-expanded="true" aria-controls="pane-projects">
                                <b>Projects</b>
                            </button>

                        </div>
                        <div id="pane-projects" class="collapse"
                             aria-labelledby="heading-projects"
                             data-parent="#my-accordion">

                            <div class="card-body">
                                {{ projects }}
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="nav-2" aria-labelledby="tab-2" role="tabpanel">
                <h2>Weekly Lessons</h2>
                <div class="accordion" id="weeks-accordion">

                    {% for week in weeks %}

                        <div class="card">

                            <div class="card-header collapse-header" id="heading-{{ week.0 }}">

                                <button class="btn btn-selector" type="button" data-toggle="collapse"
                                        data-target="#pane-{{ week.0 }}"
                                        aria-expanded="true" aria-controls="pane-{{ week.0 }}">
                                    <b>Week {{ week.0 }}</b>

                                </button>

                            </div>
                            <div id="pane-{{ week.0 }}" class="collapse"
                                 aria-labelledby="heading-{{ week.0 }}"
                                 data-parent="#weeks-accordion">

                                <div class="card-body">

                                    {{ week.1 }}

                                </div>

                            </div>

                        </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


{% endblock %}

