{% extends "unc_theme.html" %}


{% block content %}

    <h1>PROJECT {{ title }}</h1>

    <div class="card">

        <div class="card-header ch-alt">
            Project {{ title }}
        </div>
        <div class="card-body card-padding">
            {% if text %}
                {% autoescape off %}
                    {{ text }}
                {% endautoescape %}
            {% else %}
                <h2>No document found.</h2>
            {% endif %}
        </div>
    </div>

{% endblock %}