{% extends "mybook_theme.html" %}

{% block head %}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/images/unc/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/unc.css?time={{ time }}">
{% endblock %}


{% block header %}

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h1>{{ header.title }}</h1>
                    <h2><a href="{{ header.href }}">{{ header.subtitle }}</a></h2>
                </div>
                <div class="logo col-sm-4">
                    <div class="pull-right">
                        <img class="img-rounded img-responsive" src="{{ header.logo }}"
                             alt="{{ header.logo_text }}" width="150px">
                        <p><a href="/unc/logout/">Logout</a></p>
                        <p><a href="/unc/login/?next=/unc/{{ course }}">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

