{% extends "unc_theme.html" %}


{% block content %}


{% if students %}
<div class="page">
    <h2>Student Domains</h2>

    <table class="table table-hover">

        <tr>
            <th>Id</th>
            <th>Student</th>
            <th>Email</th>
            <th>Project #5</th>
            <th>Project #6</th>
            <th>Project #7</th>
            <th>Project #8</th>
            <th>Skill #4</th>
            <th>Skill #5</th>
            <th>Skill #6</th>
            <th>Skill #7</th>
            <th>Skill #8</th>
        </tr>
        {% for student in students %}

        <tr>
            <td>
                <a href="/unc/student/{{ student.0.pk }}">{{ student.0.pk }}</a>
            </td>
            <td>
                {{ student.0.name }}
            </td>
            <td>
                {{ student.0.email }}
            </td>
            {% for project in student.1 %}
            <td>
                <a href="{{ student.0.domain }}/{{ project.page }}" target="_my_project">{{ project.page }}</a>
            </td>
            {% endfor %}
            {% for skill in student.2 %}
            <td>
                <img src="{{ student.0.domain }}/{{ student.0.course.name }}/skills/{{ skill }}" width="100">
            </td>
            {% endfor %}
        </tr>

        {% endfor %}

    </table>
</div>

{% else %}
<h1>No Student Domains registered</h1>
{% endif %}

{% endblock %}
