{% extends "unc_theme.html" %}


{% block content %}


    {% if students %}
        <div class="page">
            <h2>Student Domains</h2>

            <table class="table table-hover">

                <tr>
                    <th>Id</th>
                    <th>Student</th>
                    <th>Email</th>
                    <th>Designer</th>
                    <th>Reviewer</th>
                </tr>
                {% for student in students %}

                    <tr>
                        <td>
                            {{ student.student.pk }}.
                        </td>
                        <td>
                            <a href="/unc/student/{{ student.student.pk }}"
                               target="student">{{ student.student.name }}
                            </a>
                        </td>
                        <td>
                            {{ student.student.email }}
                        </td>
                        <td>Designer: {{ student.designer }}</td>
                        <td>Reviewer: {{ student.reviewer }}</td>
                    </tr>

                {% endfor %}

            </table>
        </div>

    {% else %}
        <h1>No Student Domains registered</h1>
    {% endif %}

{% endblock %}
