
    <h2>Content for Week {{ week }}</h2>

    {% autoescape off %}
        {{ project }}
        {{ lessons }}
    {% endautoescape %}


    {#    <h2>Learn It</h2>#}
    {#    <p>Reading</p>#}
    {#    <p>Lesson</p>#}
    {#    <p>Slides</p>#}
    {##}
    {#    <h2>Build It</h2>#}
    {#    <p>Project description</p>#}
    {#    <p><a href="/unc/{{ course }}/project/{{ week }}">/unc/{{ course }}/project/{{ week }}</a></p>#}
    {##}
    {#    <h2>Test It</h2>#}
    {#    <p>Automatic Page Tester</p>#}
    {#    <p><a href="/unc/{{ course }}/{{ week }}/test">/unc/{{ course }}/{{ week }}/test</a></p>#}
    {##}
    {#    <h2>Review It</h2>#}
    {#    <p>Reviews to do</p>#}
    {#    <p><a href="/unc/{{ course }}/{{ week }}/review">/unc/{{ course }}/{{ week }}/review</a></p>#}
    {#    <p>Feedback on your page</p>#}
    {#    <p><a href="/unc/{{ course }}/{{ week }}/feedback">/unc/{{ course }}/{{ week }}/feedback</a></p>#}


    {#    <div class="card">#}
    {#        <div class="card-header">#}
    {#            Project #{{ plan.project.num }}#}
    {#        </div>#}
    {#        <div class="card-body card-padding">#}
    {#            <p>Project #{{ plan.project.title }}</p>#}
    {#            <p>Publish URL: {{ plan.project.page }}</p>#}
    {#            <p>Due on {{ plan.project.due_date }}</p>#}
    {#            <p>#}
    {#                <a href="/unc/{{ plan.project.directions }}"#}
    {#                   target="project">Project #{{ plan.project.num }} Directions</a>#}
    {#            </p>#}
    {#            <p>#}
    {#                <a href="{{ student.domain }}/{{ plan.project.page }}"#}
    {#                   target="project">Visit My Page</a>#}
    {#            </p>#}
    {#            <p>#}
    {#                <a href="/unc/{{ course }}/{{ plan.project.num|stringformat:"02d" }}/test"#}
    {#                   target="project">Test My Page</a>#}
    {#            </p>#}
    {#        </div>#}
    {#    </div>#}

    {#    {% for lesson in plan.lessons %}#}
    {##}
    {#        <h2> Lesson {{ lesson.lesson }} - {{ lesson.topic }}</h2>#}
    {#        <p>#}
    {#            {{ lesson.date|date:"D, M d, Y" }}#}
    {#        </p>#}
    {#        <p>#}
    {#            Notes for lesson {{ lesson.lesson }} -#}
    {#            <a href="/unc/{{ course }}/lesson/{{ lesson.week|stringformat:"02d" }}"#}
    {#               target="lesson">{{ lesson.topic }}</a>#}
    {#        </p>#}
    {#        <p>#}
    {#            Slides for lesson {{ lesson.lesson }} -#}
    {#            <a href="/unc/{{ course }}/{{ lesson.week|stringformat:"02d" }}/slides"#}
    {#               target="slides">{{ lesson.topic }}</a>#}
    {#        </p>#}
    {##}
    {#        <p>#}
    {#            Textbook Reading - {% autoescape off %}{{ lesson.reading }}{% endautoescape %}#}
    {#        </p>#}
    {##}
    {#    {% endfor %}#}

    {#    <div class="card">#}
    {##}
    {#        <div class="card-header ch-alt">#}
    {#            Project Document <a href="/unc/{{ course }}/project/{{ week }}">/unc/{{ course }}/project/{{ week }}</a>#}
    {#        </div>#}
    {#        <div class="card-body card-padding">#}
    {#            {% if text %}#}
    {#                {% autoescape off %}#}
    {#                    {{ text }}#}
    {#                {% endautoescape %}#}
    {#            {% else %}#}
    {#                <h2>No document found.</h2>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    </div>#}

