<div class="accordion" id="my-accordion">

    {% for pane in panes %}

        <div class="card">

            <div class="card-header" id="heading-{{ pane.0 }}">

                <button class="btn btn-selector" type="button" data-toggle="collapse"
                        data-target="#pane-{{ pane.0 }}"
                        aria-expanded="true" aria-controls="pane-{{ pane.0 }}">
                    <b>{{ pane.1 }}</b>
                </button>

            </div>
            <div id="pane-{{ pane.0 }}" class="collapse"
                 aria-labelledby="heading-{{ pane.0 }}"
                 data-parent="#my-accordion">

                <div class="card-body">
                    {% autoescape off %}
                        {{ pane.2 }}
                    {% endautoescape %}
                </div>

            </div>

        </div>

    {% endfor %}

</div>


{#<div class="panel-group" id="review-accordion">#}
{##}
{#    {% for t in reviews %}#}
{##}
{#        <div class="panel panel-default">#}
{##}
{#            <div class="panel-heading">#}
{#                <h3 class="panel-title">#}
{#                    <a data-toggle="collapse" data-parent="#review-accordion" href="#review{{ t.0 }}">#}
{#                        {{ t.1 }}#}
{#                    </a>#}
{#                </h3>#}
{#            </div>#}
{##}
{#            <div id="review{{ t.0 }}" class="panel-collapse collapse">#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        {{ t.1 }}#}
{#                    </div>#}
{#                    <div class="card-body card-padding">#}
{#                        {{ t.2 }}#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{##}
{#    {% endfor %}#}
{##}
{#</div>#}
{##}
