<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Creative Insights</title>

    <link rel="icon" type="image/x-icon" href="https://unco-bacs.org/bacs350/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/insight.css">

</head>

<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Creative Insights</h1>
                <h2>Experiences that shape my thoughts</h2>
            </div>
            <div class="col-sm-4">
                <img src="/static/images/SWS_Globe_small.jpg" class="img-rounded img-responsive" alt="SWS Logo">
            </div>

        </div>
    </div>
</header>

<main>
    <div class="toolbar">
        <a href="/task/time" class="btn btn-primary">Time Accounting</a>
        <a href="/insight/" class="btn btn-primary">List Insights</a>
        <a href="/insight/months" class="btn btn-primary">Monthly Insights</a>
        <a href="/insight/import" class="btn btn-primary">Import Insight</a>
        <a href="/insight/export" class="btn btn-primary">Export Insight</a>

    </div>

    {% block content %}
        <h2>BASE INSIGHT TEMPLATE</h2>
        <p>No content is defined.</p>
    {% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
