<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Creative Insights</title>

    <link rel="icon" type="image/x-icon" href="https://unco-bacs.org/bacs350/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/insight.css">

</head>

<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Creative Insights</h1>
                <h2>Experiences that shape my thoughts</h2>
            </div>
            <div class="col-sm-4">
                <img src="/static/images/SWS_Globe_small.jpg" class="img-rounded img-responsive" alt="SWS Logo">
            </div>

        </div>
    </div>
</header>

<main>
    {% block content %}
        <h2>BASE INSIGHT TEMPLATE</h2>
        <p>No content is defined.</p>
    {% endblock %}
</main>
</body>

</html>
