{% extends "seaman_theme.html" %}


{#{% block header %}#}
{##}
{#    <header>#}
{##}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <div class="col-xs-8">#}
{#                    <div class="logo">#}
{#                        <div class="titles">#}
{#                            <h1>Shrinking World Solutions</h1>#}
{#                            <h2>Software Development Training</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-xs-4">#}
{#                    <img class="img-rounded img-responsive" src="/static/images/SWS_Logo_200.jpg">#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{##}
{#    </header>#}
{##}
{#{% endblock %}#}
{##}
